<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Dogodki za dan {{ day }}. {{ month }}</h1>
    {% if events %}
        <ul>
        {% for event in events %}
            <li>{{ event.year }}: {{ event.description }}
            {% if event.wikipedia %}
                <br>
                <strong>Wikipedia povezave:</strong>
                <ul>
                {% for link in event.wikipedia %}
                    <li><a href="{{ link.wikipedia }}" target="_blank">{{ link.title }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            </li><br>
        {% endfor %}
        </ul>
    {% else %}
        <p>Ni dogodkov za ta dan.</p>
    {% endif %}
</body>
</html>