<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Dogodki skozi čas</h1>
    Ta stran je namenjena prikazu dogodkov skozi čas. Tukaj lahko vidite pomembne trenutke, ki so se zgodili skozi zgodovino.<br><br>
    <strong>Izberite opcijo:</strong>
    <form method="get" action="/events">
        <button type="button" onclick="events()">Dogodki</button><br>
        <button type="button" onclick="births()">Rojstva</button><br>
        <button type="button" onclick="deaths()">Smrti</button><br>
    </form>
    <h2>Dogodki na današnji dan:</h2>
    {% if events %}
        <ul>
        {% for event in events %}
            <li><strong>{{ event.year }}:</strong> {{ event.description }}
            {% if event.wikipedia %}
                <br>
                <strong>Wikipedia povezave:</strong>
                <ul>
                {% for link in event.wikipedia %}
                    <li><a href="{{ link.wikipedia }}" target="_blank">{{ link.title }}</a></li>
                {% endfor %}
                <div id="favourites"><button type="button" onclick="favourites()">Dodaj med priljubljene</button></div>
                </ul>
            {% endif %}
            </li><br>
        {% endfor %}
        </ul>
    {% else %}
        <p>Ni dogodkov za ta dan.</p>
    {% endif %}

</body>
</html>

<script>
function events() {
    window.location.href = "/events";
}
function births() {
    window.location.href = "/births";
}
function deaths() {
    window.location.href = "/deaths";
}
</script>