<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Dogodki skozi čas</h1>
    <a href="/"><strong>Nazaj na glavno stran</strong></a><br><br>
    {% if tip == "events" %}
        <h2>Dogodki na dan {{ day }}. {{ month }}:</h2>
    {% elif tip == "births" %}
        <h2>Rojstva na dan {{ day }}. {{ month }}:</h2>
    {% elif tip == "deaths" %}
        <h2>Smrti na dan {{ day }}. {{ month }}:</h2>
    {% endif %}
    {% if items and items|length > 0 %}
        <ul>
        {% for item in items %}
            <li><strong>{{ item.year }}:</strong> {{ item.description }}
            {% if item.wikipedia %}
                <br>
                <strong>Wikipedia povezave:</strong>
                <ul>
                {% for link in item.wikipedia %}
                    <li><a href="{{ link.wikipedia }}" target="_blank">{{ link.title }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            </li><br>
        {% endfor %}
        </ul>
    {% else %}
        <p>Ni podatkov za ta dan.</p>
    {% endif %}
</body>
</html>