<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <h1>Note dashboard</h1>
    Pozdravljen {{ uporabnik }}
    <br>
    <a href="/newNote">
        <button onclick="newNote()" type="button">Ustvari nov zapisek</button>
    </a>
    <br>
    <br>
    {% if notes %}
        <h2>Vaši zapiski:</h2>
        <ul>
        {% for id, note in notes.items() %}
            <li><a href="/dashboard/{{ id }}">{{ note.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Še ni zapiskov. Ustvarite enega!</p>
    {% endif %}
    {% if admin == 1 or admin == 2 %}
    <br>
        <a href="/admin"><h3>Admin funkcije</h3></a>
    {% endif %}
    <br>
    <br>
    <a href="/change-password">Spremeni geslo</a><br>
    <a href="/logout">ODJAVI SE</a>


</body>

</html>

<script>
    function newNote() {
        $.ajax({
            url: "/newNote",
            method: "POST",
            data: {
                notes: notes
            },
            success: function (result) {
                $("#weather-temp").html("<strong>" + result + "</strong> degrees");
            }
        });
    }
</script>