<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin - {{ target_user }} Notes</title>
</head>

<body>
    <h1>Zapiski uporabnika {{ target_user }}</h1>
    <p>Admin: Pozdravljen {{ uporabnik }}!</p>
    <a href="/admin">Nazaj na nadzorno ploščo</a>
    <br><br>

    {% if notes %}
    <h2>Zapiski:</h2>
    <ul>
        {% for id, note in notes.items() %}
        <li><strong><a href="/dashboard/{{ id }}?user={{ target_user }}">{{ note.title }}</a></strong></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No notes for this user.</p>
    {% endif %}

    <br>
    <h2>Admin nivo:</h2>
    <select id="user-role" onchange="updateRole()">
        <option value="0" {% if admin==0 %}selected{% endif %}>Navaden uporabnik</option>
        <option value="1" {% if admin==1 %}selected{% endif %}>Moderator</option>
        <option value="2" {% if admin==2 %}selected{% endif %}>Admin</option>
    </select>
    <br>
    <br>
    <br>
    <a href="/logout">LOGOUT</a>
</body>

</html>

<script>
    const targetUser = "{{ target_user }}";
    function updateRole() {
        var selectedRole = document.getElementById("user-role").value;
        $.ajax({
            url: "/admin/updateRole",
            method: "POST",
            data: {
                username: targetUser,
                role: selectedRole
            },
            success: function (result) {
                alert("Role updated successfully!");
            }
        });
    }
</script>