<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Note dashboard</h1>
    Pozdravljen {{ uporabnik }}
    <br>
    <a href="/profile">Tvoj profil</a>
    <br>
    <h2>Objave:</h2>
    {% if posts %}
        {% for post in posts %}
            <p><strong>{{ post.username }}</strong></p>
            <p style="white-space: pre-wrap;">{{ post.content[:50] }}{% if post.content|length > 50 %}...{% endif %}</p>
            <br>
        {% endfor %}
    {% else %}
        <p>Še ni objav.</p>
    {% endif %}
    <br>
    <br>
    <a href="/logout">ODJAVI SE</a>
</body>
</html>